body{
    font-family: 'Open Sans',sans-serif;
}
.bg-gray{
    background: #eee;
}

.row.no-gutters [class*=col-]{
    padding: 0;
    margin: 0;
}

.no-gutters{
    margin: 0!important;
    padding: 0;
    
}

.m-5{
    margin-top: 5rem;
/*    margin-bottom: 5rem;*/
}