.title{
    color: #fff;
    font-weight: 900;
    font-size: 8rem;
}

.subtitle{
    font-size: 4rem; 
    color: #fff;
    font-weight: 400;
}
.highlight-heading{
    color: $mainBlue;
}

.main-title{
    font-size: 15rem;
    font-weight: 900;
    color: #ddd;
margin: 0;
/*    opacity: 0.7;*/
    
}

.dark-highlight{
    color: $darkBlue;
}

.main-subtitle{
        text-align: center;
        
}
.main-color-title{
    text-align: center;
    font-weight: 900;
}