.btn{
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    text-transform: uppercase;
    padding: 1.5rem;
    margin: 1rem;
    &-blue{
        background: $mainBlue;
    }
    
    &-transparent{
        border: solid 1px #fff;
    }
    &:hover{
        color: #fff;
    }
}