

.experience{
    position: relative;
   margin-top: 35rem;
    .number{
        font-size: 9rem;
/*
        font-weight: 600;
        color: $mainBlue;
*/
        margin-bottom: 0;
    }
    
    h2{
        margin-top: 0;
    }
    img{
        width: 100%;
    }
    .text{
        padding-right: 20%;
    }
    &-rule{
        
    }
    i{
        color: $mainBlue;
    }
    i,p{
        display: inline-block;
    }
    
    .main-title{
        position: absolute;
        top: 82%;
        z-index: -1;
    }
}
