.get-in-touch{
    background: #ddd;
    margin-top: 7rem;
    margin-bottom: 7rem;
    
    .circle{
       display: flex;
        border: solid 1px $mainBlue;
        width: 20%;
        padding: 2rem;
        border-radius: 50%;
        justify-content: space-around;
        margin: 0 auto;
        
        i{
            font-size: 3rem;
            color: $mainBlue;
        }
        
        
    }
    p{
/*            margin: 2rem;*/
            padding: 3rem;
        text-align: center;
        }
}

