.nav-inner{
    margin: 0;
    padding: 5rem;
    background: #222;
    &-subtitle{
        color: #fff;
        padding: 2rem;
        border: solid 1px #aaa;
        border-radius: 25px;
        font-size: 1rem;
        text-align: center;
        width: 60%;
        margin:  0 auto;
        
        @mixin largeScreen{
            font-size: 3rem;
            
        }
    }
    
    &-title{
        font-size: 3rem;
        text-align: center;
        color: #fff;
    }
}