.large-hero-section {
    position: relative;


    .large-hero {


        position: relative;

        img {
            width: 100vw;
            height: 100vh;
            @mixin largeScreen {
                width: 98.9vw;
            }
        }

        .overlay {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.8);
        }

        &-title {
            
            position: absolute;
                        
             top: 50%;
            left: 30%;
            transform: translate(-50%, -50%);
            
            
                .subtitle {
                    
                    margin: 1rem;
                    
                    @mixin smallScreen{
                        font-size: 9rem;
                        text-align: center;
                        margin: 1rem;
                        width: 100%;
                    }
                    font-size: 6rem;
                    
                    @mixin largeScreen{
                        font-size: 4rem;
                    }
                }

                .title {
                    
                    margin: 1rem;
                    font-size: 4rem;
                    
                    @mixin smallScreen{
                        font-size: 12rem;
                        margin: 2rem;
                        width: 100%;
                        text-align: center;
                        
                    }
                    
                    @mixin largeScreen{
                        font-size: 8rem;
                    }
                }
        }
        

        &-sub-section {
            padding-bottom: 12rem;
            margin: 0;
            background: $mainBlue;
            position: relative;

            &-title {
                text-align: center;
                margin: 0;
                font-size: 3rem;
                padding: 7rem 20%;
                color: #fff;
                font-weight: 600;
            }

            .cards {
                position: relative;
                margin: 0 auto;
                width: 100%;

                .card {
                    position: absolute;
                    top: 60%;
                    box-shadow: 2px 10px 4px #aaa;
                    padding: 2rem;
                    background: #fff;

                    i {
                        font-size: 8rem;
                        color: $mainBlue;
                        text-align: center;
                        width: 100%;

                        margin: 6rem auto 3rem auto;

                    }

                    h5 {
                        font-size: 3rem;
                        text-align: center;
                        color: #444;
                        font-weight: 600;
                    }

                    p {
                        margin: 2rem auto;
                        text-align: center;
                        padding: 0 10%;
                        /*                        padding: 1rem;*/
                        color: #333;
                        letter-spacing: 1px;
                    }
                }
            }

        }
    }


}
