.portfolio{
    .main-title{
        text-align: center;
        margin-top: 0;
        margin-bottom: 5rem;
        padding: 0;
        line-height: 55%;
        
        z-index: -999;
    }
    img{
        width: 100%;
    }
}

#isotope-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1rem;
}

#isotope-filters{
    background: #eee;
    margin:  2rem auto;
    padding: 1% 10%;
    border-radius: 50px;
    width: 70%;
     display: flex;
        justify-content: space-between;
    button{
        color: $darkBlue;
        background: #eee;
        border: none;
        box-shadow :none;
        padding: 0;
        margin: 0 0.3rem;
        text-align: justify;
       
        font-weight: 600;
    }
}