.services{
    margin-top: 10rem;
    padding: 3rem;
    height: 100%;
    z-index: 999;
    .subtitle{
        color: #666;
        text-align: center;
        margin-top: 5rem;
    }
    &-card{
        position: relative;
        height: 100%;
    }
    
    &-title{
        text-align: center;
        font-weight: 900;
    }
    .image{
        margin-bottom: 20rem;
    }    
    &-sub-card{
       
       
      position: absolute;
            top: 90%;
        left: 5%;
             padding: 5% 10%;
/*        margin-top: -3rem;*/
        z-index: 999;
            background: #fff;
            width: 90%;
        margin: 0 auto;
        height: 100%;
        
        .inner{
            height: 100%;
            position: relative;
        }
       
        &-title{
            margin-top: 0;
            color: $darkBlue;
            text-align: center;
            font-size: 2.3rem;
            font-weight: 600;
        }
       
    }
}