.team{
    overflow:hidden;
    position: relative;
    h2{
        font-size: 4rem;
    }
    .main-color-title{
        font-size: 3.5rem;
    }
    .background{
        position: absolute;
        width: 20%;
        height: 60%;
        background: #eee;
        opacity: 0.6;
        transform: rotate(30deg);
        overflow:hidden;
    }
    
    #back-2{
         position: absolute;
        top: 20%;
        right: 0;
        width: 20%;
        height: 60%;
        background: #eee;
        opacity: 0.6;
        transform: rotate(-10deg);
        overflow:hidden;
    }

    
    &-member{
        img{
            width: 100%;
            height: 100%;
        }
        &-name{
             margin-top: 3rem;
            font-weight: 600;
            text-align: center;
        }
        &-designation{
            font-weight: 900;
            
            text-align: center;
            color: $mainBlue;
        }
        span{
            background: #eee;
        }
        
        .social-media{
           width: 80%;
            margin: 2rem auto;
            display: flex;
            justify-content: space-around; 
        
        i{
            color: #777;
            padding: 1rem;
            
            }}
    }
}