.why-choose-us {
    background: url('./assets/images/why-choose-us/image-1.jpg');
    background-size: cover;
    width: 100%;
    height: 100%;


    .row{
        margin: 0!important;
    }
    h2 {
        color: #fff;
    }

    .main-subtitle {
        margin-top: 6rem;
    }

    .main-color-title {
        font-weight: 900;
    }

    color: #fff;

    .circle {
        margin: 20%;
        padding: 2rem;
        border: solid 1px #fff;
        border-radius: 50%;
        border-color: $mainBlue;

        i {
            font-size: 3rem;
        }
    }

    &-title {
        font-weight: 600;
    }
    
    
    .main-title {
        margin-top: 4rem;
        opacity: 0.2;
        margin-bottom: 0;
        padding-bottom: 0;
        line-height: 80%;
        text-align: center;
        /*        color: $darkBlue;*/
    }
}
